<%- include('./partials/header/header.ejs'); %>

  <body>
    <%- include('./partials/navigation/nav.ejs'); %>

    <!--================Home Banner Area =================-->
    <section class="home_banner_area mb-40">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content row">
            <div class="col-lg-12" style="margin-top: 80px;">
              <h3><span>Dunamis</span> Online Shop &<br />Tutorials Scheduling Management System</h3>
              <h4>Show your talent with us.</h4>
              <a class="main_btn mt-40" href="#">View Collection</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!-- Start feature Area -->
    <section class="feature-area section_gap_bottom_custom">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="single-feature">
              <p href="" class="title">
                <i class="flaticon-money"></i>
                <h3>Money back gurantee</h3>
              </p>
              <p>Shall open divide a one</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="single-feature">
              <p href="" class="title">
                <i class="flaticon-truck"></i>
                <h3>Free Delivery</h3>
              </a>
              <p>Shall open divide a one</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="single-feature">
              <p href="" class="title">
                <i class="flaticon-support"></i>
                <h3>Alway support</h3>
              </p>
              <p>Shall open divide a one</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="single-feature">
              <p href="" class="title">
                <i class="flaticon-blockchain"></i>
                <h3>Secure payment</h3>
              </p>
              <p>Shall open divide a one</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End feature Area -->

    <!--================ Products Offer Area =================-->
    <section class="offer_area">
      <div class="container">
        <div class="row justify-content-center">
          <div class="offset-lg-4 col-lg-6 text-center">
            <div class="offer_content">
              <h3 class="text-uppercase mb-40">all Products collection</h3>
              <h2 class="text-uppercase">50% off</h2>
              <a href="/products" class="main_btn mb-20 mt-5">Discover Now</a>
              <p>Limited Time Offer</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ End Products Offer Area =================-->

    <section class="feature_product_area section_gap_bottom_custom mt-40">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-12">
                  <div class="main_title">
                      <h2><span>About Us</span></h2>
                      <p>Welcome to our music instrument hub!</p>
                  </div>
              </div>
          </div>
  
          <div class="row">
              <div class="col-lg-4">
                  <div class="single_feature">
                      <h3 class="text-center mb-20">Mission</h3>
                      <p>
                          Our mission is to inspire and empower musicians of all levels by providing
                          high-quality instruments, comprehensive tutorials, and exceptional customer service.
                      </p>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="single_feature">
                      <h3 class="text-center mb-20">Vision</h3>
                      <p>
                          Our vision is to become the leading destination for music enthusiasts,
                          offering a diverse range of instruments, tutorials, and resources to
                          foster creativity, learning, and enjoyment in the world of music.
                      </p>
                  </div>
              </div>
              <div class="col-lg-4">
                  <div class="single_feature">
                      <h3 class="text-center mb-20">Goal</h3>
                      <p>
                          Our goal is to create a vibrant community of musicians who share a passion
                          for music and support each other's musical journey. We strive to continually
                          innovate and expand our offerings to meet the evolving needs of our customers
                          and provide an unparalleled musical experience.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </section>

    <!--================ start footer Area  =================-->
    <%- include('./partials/footer/footer.ejs'); %>
      <!--================ End footer Area  =================-->

  </body>
  <%- include('./partials/footer/footer_js.ejs') %>