<div class="row">
    <div class="col-md-12">
        <div class="copyright">
            <p>Copyright © 2024 Unknown. All rights reserved. Template by <a href="">Unknown</a>.</p>
        </div>
    </div>
</div>