<!-- MENU SIDEBAR-->
<aside class="menu-sidebar2">
    <div class="logo justify-content-center">
        <a href="">
            <img src="/public/img/logo.png" alt="Cool Admin" style="height: 50px;width: 150px;" />
        </a>
    </div>
    <div class="menu-sidebar2__content js-scrollbar1">
            <form action="/logout" method="post" class="account2">
                <h4 class="name">Reymond Godoy</h4>
                <button type="submit" class="btn btn-link text-secondary">Sign out</button>
            </form>
        <nav class="navbar-sidebar2">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a href="/admin">
                        <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-chart-bar"></i>Products
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/product">
                                <i class="fas fa-tachometer-alt"></i>Products List</a>
                        </li>
                        <li>
                            <a href="/admin/product/create">
                                <i class="fas fa-tachometer-alt"></i>Product Add</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-chart-bar"></i>Orders
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/order">
                                <i class="fas fa-tachometer-alt"></i>Orders List</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-chart-bar"></i>Courses
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/course">
                                <i class="fas fa-tachometer-alt"></i>Course List</a>
                        </li>
                        <li>
                            <a href="/admin/course/create">
                                <i class="fas fa-tachometer-alt"></i>Course Add</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-chart-bar"></i>Enrollment
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/enrollment">
                                <i class="fas fa-tachometer-alt"></i>Enrollment List</a>
                        </li>
                        <li>
                            <a href="/admin/enrollment/create">
                                <i class="fas fa-tachometer-alt"></i>Enrollment Add</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-chart-bar"></i>Enrollment Status
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/enrollment/approved">
                                <i class="fas fa-tachometer-alt"></i>Status Approved</a>
                        </li>
                        <li>
                            <a href="/admin/enrollment/disapproved">
                                <i class="fas fa-tachometer-alt"></i>Status Disapproved</a>
                        </li>
                        <li>
                            <a href="/admin/enrollment/done">
                                <i class="fas fa-tachometer-alt"></i>Status Done</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a class="js-arrow" href="#">
                        <i class="fas fa-chart-bar"></i>User
                        <span class="arrow">
                            <i class="fas fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="/admin/user">
                                <i class="fas fa-tachometer-alt"></i>User List</a>
                        </li>
                        <li>
                            <a href="/admin/user/create">
                                <i class="fas fa-tachometer-alt"></i>User Add</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->